* {
    box-sizing: border-box;
}

@media only screen and (min-width: 335px) {
    body {
        font-size: 36px;
    }
}

body {
    background-color: #eef9bf;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
    text-align: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.titulo {
    margin: 40px 0px;
}

.jogo-da-memoria {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20%;
    padding-left: 20%;
    align-items: center;
    justify-content: center;
    perspective: 300px;
}

.carta-memoria {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    height: 180px;
    transform-style: preserve-3d;
    transition: transform .5s;
    margin: 20px;
}

.costas {
    transform: rotateY(180deg);
}

.frente, .costas {
    width: 100%;
    height: 100%;    
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 35px;
    position: absolute;
    backface-visibility: hidden;
}

.carta-memoria.virada {
    transform: rotateY(180deg);
}

.carta-memoria.virada-1 {
    transform: rotateY(180deg);
}

.carta-memoria:active{
    transform: scale(0.80);
    transition: transform .125s;
}